server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/finshield
    username: postgres
    password: 1234
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true

logging:
  level:
    org.hibernate.SQL: debug